
@{
    ViewBag.Title = "adidasAbout";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div style="width: 38%; margin-left: 3%; margin-top: 50px; float: left; ">
    <p>Adidas là tập đoàn đa quốc gia đến từ nước Đức, chuyên sản xuất các mặt hàng giầy dép, quần áo, phụ kiện.</p>
    <p>Tiền thân của hãng là công ty Gebruder Dassler Schuhfabrik được ra đời vào năm 1924 bởi hai anh em nhà Dassler là Adi Dassler và Rudolf.</p>
    <p>Trong thời gian đầu thương hiệu này đã đạt được những thành công và lợi nhuận khủng.</p>
    <p>Nhưng sau thế chiến thứ hai, do bất đồng quan điểm nên Rudoft đã tách ra thành lập công ty Ruda,</p>
    <p>sau này đổi tên là Puma. Trong khi đó Adi Dassler vẫn tiếp tục điều hành công ty cũ và đặt tên mới là Adidas từ năm 1949.</p>
    <p>Mặt hàng chủ lực của thương hiệu Adidas bao gồm giày dép, quần áo, mũ, tất, túi xách thể thao…</p>
    <p>Ưu điểm của những sản phẩm thương hiệu Adidas đó là luôn được làm từ những chất liệu tốt nhất, thiết kế khá tỉ mỉ, cẩn thận, tinh tế</p>
    <p>thể hiện trong từng đường may để mang tới người dùng cảm giác thoải mái, dễ chịu.</p>
</div>
<div>
    <img src="~/Scripts/colorbox/images/adidas_back.jpg" alt="" style="margin-top: 50px; width: 399px; height: 550px;">
</div>

