
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="contact-head">
    <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
</div>
    <div class="left">
        <h3>DỊCH VỤ KHÁCH HÀNG</h3>
        <p><b>Địa chỉ:</b>477 Điện Biên Phủ, Phường 25, Bình Thạnh, Hồ Chí Minh</p>
        <p><b>Email:</b>thanhphu18dtha3@gmail.com</p>
        <p><b>Mua hàng onl:</b>0942 61 5029</p>
        <p><b>Chăm sóc khách hàng:</b>ad@gmail.com</p>
        <p class="time">Thứ 2 đến thứ 5, từ 10h-17h</p>
        <p>..............................................</p>
        <div class="title">
            <h3>CHÍNH SÁCH BẢO HÀNH VÀ SỬA CHỬA</h3>
        </div>
        <div class="baohanh">
            <p>+Chỉ tại shopgiay9999, bạn được hỗ trợ về sản phẩm với chính sách bảo hành<br> sản phẩm trọn đời miễn phí!</p>
            <p>+Tuy nhiên, chính sách này không bao gồm những trường hợp đặc biệt như sau :</p>
            <p>+Giày của bạn bị mất phiếu bảo hành. Khi này sẽ mất phí sửa chửa</p>
            <p>+Giày có tác động quá mạnh làm hư hỏng nghiêm trọng</p>
            <p>+Giày không phải của shop bán ra.</p>
            <p>+Đối với khách hàng mua giày online ở shop các bạn vẫn sẽ được miễn phí như<br> sản phẩm mua ở của hàng. Nhưng bạn phải chịu phí giao hàng</p>
        </div>
    </div>
    <div class="right">
        <div id="map"></div>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVmkDHBddblHbba9VGV24Yu032wCb0uc4&callback=initMap&libraries=places&v=weekly"
                async></script>
    </div>
