
@{
    ViewBag.Title = "converseAbout";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div style="width: 38%; margin-left: 3%; margin-top: 50px; float: left; ">
    <p>Converse có lịch sử phát triển lâu đời hơn các dòng giày thể thao như Nike và Adidas. Năm 1908, Hầu tước M. Converse thành lập Công ty Giày cao su Converse ở Malden, Massachusetts.</p>
    <p>Đây chỉ là bước khởi đầu của thương hiệu, năm 1915 Converse bắt đầu sản xuất giày tennis,</p>
    <p>đây là bước ngoặt quan trọng trong lịch sử của Converse khi giày bóng rổ Converse All-Star được đưa ra thị trường vào năm 1917</p>
    <p>Converse All Star đã trở thành đôi giày được chỉ định cho trận đấu bóng rổ quốc tế của Mỹ.</p>
    <p>Các dòng Converse phổ biến hiện nay là:</p>
    <p>+Giày converse classic</p>
    <p>+Converse 1970s</p>
    <p>+Converse Jack Purcell</p>
</div>
<div  >
    <img src="~/Scripts/colorbox/images/converse_back.jpg" alt="" style="margin-top: 50px; width: 399px; height: 550px;"/>
</div>

