@model IEnumerable<Cuahanggiayfinal.Models.PRODUCT>
<div class="box-product">
    @foreach(var item in Model)
    {
    <div>
        <div class="image"><a href="@Url.Action("Details", "ShoeStore",new { id = item.productId })"><img src="~/images/@item.img" alt="Chair Swing" style="width:61px" /></a></div>
        <div class="name"><a href="@Url.Action("Details", "ShoeStore",new { id = item.productId })">@item.productName</a></div>
        <div class="price">@String.Format("{0:0,0}", item.price) VNĐ</div>
        <div class="rating"><img src="~/image/stars-3.png" alt="Based on 1 reviews." /></div>
    </div>
    }
</div>