@model IEnumerable<Cuahanggiayfinal.Models.brand>
<li class="category18">
    <a class="cuuchild ">Giày theo hãng</a> <span class="down"></span>
    <ul>
        <li class="category46">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("SPtheohang","ShoeStore", new { id = item.brandId })">@item.branName</a>
            }
            </li>
    </ul>
</li>

