
@{
    ViewBag.Title = "nikeAbout";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <div style="width: 38%; margin-left: 3%; margin-top: 50px; float: left; ">
        <p>Nike là nhà cung cấp toàn cầu về giày, quần áo và dụng cụ thể thao số một thế giới.</p>
        <p>Được thành lập vào ngày 25 tháng 1 năm 1964 với tên Blue Ribbon Sports bởi Bill Bowerman và Phil Knight</p>
        <p>sau đó chính thức có tên gọi là Nike vào ngày 30 tháng 5 năm 1971</p>
        <p> Bên cạnh đó, Nike đã thiết lập một danh mục thương hiệu mạnh mẽ với một số công ty con bao gồm Cole Haan, Converse Inc.</p>
        <p>Hurley International LLC, NIKE Golf và Umbro Ltd.mHiện nay,</p>
        <p> Nike hoạt động tại hơn 160 quốc gia trên toàn cầuvới hơn 30.000 nhân viên của Nike trên khắp sáu châu lục,</p>
        <p>mỗi người trong số họ đóng góp sức lực của mình để hoàn thành sứ mệnh của nhãn hiệu:</p>
        <p> mang lại cảm hứng và sự đổi mới cho mọi vận động viên trên thế giới.</p>
    </div>
    <div>
        <img src="~/Scripts/colorbox/images/nike-backgound.jpg" alt="" style="margin-top: 50px; width: 399px; height: 550px;">
    </div>