@model IEnumerable<Cuahanggiayfinal.Models.PRODUCT>
@{
    ViewBag.Title = "SPtheoloai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="content">
    <p class="welcome">"shop bán giày được thực hiện bởi các thành viên: Phú, Phúc, Ngọc, Phát"</p>
    <!--Slideshow Part Start-->
    <div class="slider-wrapper">
        <div id="slideshow" class="nivoSlider"> <a href="#"><img src="~/images/giay1.jpg" alt="slideshow-1" /></a> <a href="#"><img src="~/images/giay2.jpg" alt="slideshow-2" /></a> <a href="#"><img src="~/images/giay3.jpg" alt="slideshow-3" /></a> </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#slideshow').nivoSlider();
        });
    </script>
    <!--Slideshow Part End-->
    <!--Featured Product Part Start-->
    <div class="box">
        <div class="box-heading">Product Category</div>
        <div class="box-content">
            <div class="box-product">
                @foreach (var product in Model)
                {
                    <div>
                        <div class="image">
                            <a href="@Url.Action("Details", "ShoeStore",new { id = product.productId })">
                                <img alt="@product.productName" src="~/images/@product.img" style="height: 200px; width: 200px;" />
                            </a>
                        </div>
                        <div class="name"><span>@product.productName</span></div>
                        <div class="price"> @String.Format("{0:0,0}", product.price) VNĐ </div>
                        <div class="cart">
                            <input type="button" value="Add to Cart" onClick="addToCart('40');" class="button" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--Featured Product Part End-->
</div>

