@model IEnumerable<Cuahanggiayfinal.Models.CATEGORY>
<li>
    <a class="cuuchild ">Giày Theo loại</a> <span class="down"></span>
     <ul>
      @foreach (var item in Model)
       {
       <li><a class="nochild " href="@Url.Action("SPtheoloai","ShoeStore",new { id = item.catId })">@item.catName</a></li>
       }
     </ul>
</li>
