
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<a href="@Url.Action("Index","ShoeStore")" style="font-size:25px;margin-left:30px"><img src="~/Scripts/colorbox/images/reply-message.png" style=" width: 30px;" />Tiếp tục mua sắm</a>
<div style="margin-left:600px; margin-top:150px">
    <img src="~/Scripts/colorbox/images/success.png" style="width: 100px;" />
</div>
<p style="margin-left:460px; font-size:20px; margin-top:20px">Chúc Mừng bạn đã đặt hàng thành công!!!</p>